<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/edit.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/flights/<%= flight._id %>?_method=PUT" method="POST">

    <label for="airline-name">Airline:</label>
    <select name="airline" id="airline-name">
      <option value="<%= flight.airline %>">
        <%= flight.airline %>
      <option value="American">American</option>
      <option value="Southwest">Southwest</option>
      <option value="United">United</option>
    </select>

    <label for="airport-name">Airport:</label>
    <select name="airport" id="airport-name">
      <option value="<%= flight.airport %>">
        <%= flight.airport %>
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>

    <label for="flight-number">Flight Number:</label>
    <input type="text" name="flightNo" id="flight-number" value="<%= flight.flightNo %>">
    
    <label for="depart-on">Departs</label>
    <input type="datetime-local" name="departs" id="depart-on" value="<%= departsDate %>"">
    <button type="submit">Update Flight</button>
  </form>
</main>

<%- include('../partials/footer') %>